<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#header"><b>마코디</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home/information">개인정보</a>
      </li>

    </ul>
  </div>
</nav>


<div class="container">
  <h1> 개인 정보 </h1>
<form action="/home/infoupdate" method="get">
  <div class="form-group">
    <label for="exampleInputName">이름</label>
    <input type="text" class="form-control" id="exampleInputName1" value="홍길동">
  </div>
  <div class="form-group">
    <label for="exampleInputTall1">키</label>
    <input type="text" class="form-control" id="exampleInputHeight1" value="175">
  </div>
  <div class="form-group">
    <label for="exampleInputWeight1">몸무게</label>
    <input type="text" class="form-control" id="exampleInputWeight1" value="70">
  </div>
  <div class="form-group">
    <label for="exampleInputGender1">성별</label>
    <select class="form-control" name="gender">
      <option>Male</option>
      <option>Female</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">수정</button>
</div>


</form>
